body {
  margin: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  background-color: aquamarine;
}

h1 {
  font-size: 4rem;
}

button {
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

button:hover {
  background-color: aquamarine;
  font-weight: bold;
  font-size: larger;
}

footer {
  padding: 2rem;
}

.butcherPig {
  width: 12rem;
  height: 12rem;
  border: 6px double black;
  transition: width 2s, height 2s, transform 2s;
}

.butcherPig:hover {
  width: 24rem;
  height: 24rem;
  transform: rotate(360deg);
}

.userInput {
  border-radius: .5rem;
  font-size: 1rem;
  height: 5rem;
  width: 20rem;
  text-align: center;
}

.inputArea {
  background-color: #606060;
  color: #fff;
  border-radius: .5rem;
  padding: 1rem;
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }
  .userInput{
    font-size: 1rem;
    height: 5rem;
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
}
